---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
	<h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">About Me</h1>
	<div class="markdown-content">
		<p>
			Hi, I'm a software engineer based in [Location]. I enjoy building things for the web.
		</p>
		<p>
			This is a sample about page. You can edit this content in <code>src/pages/about.astro</code>.
		</p>
		
		<h2>Connect</h2>
		<ul>
			<li>
				<a href="https://github.com/jon-mun" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/jonathan-edmund-kusnadi/" target="_blank">LinkedIn</a>
			</li>
			<li>
				<a href="mailto:jonathan.edmund@gmail.com">Email</a>
			</li>
		</ul>
	</div>
</Layout>